.client
    .container
        .client-container
            .client__title Почему <span>до 5 000 пациентов ежегодно</span> доверяют нам свои улыбки
            ul.client-list
                li.client-item
                    img(src="assets/images/icons/microscope.svg").client-item__img
                    .client-item__title Работаем напрямую с производителем
                    .client-item__text Мы участвуем в официальных программах производителей имплантов и пользуемся фирменной гарантией
                li.client-item
                    img(src="assets/images/icons/mainlist3.svg").client-item__img
                    .client-item__title Собственная зуботехническая лаборатория
                    .client-item__text Работа зубного техника обеспечивает максимальную точность установки зубного импланта
                li.client-item
                    img(src="assets/images/icons/mainlist2.svg").client-item__img
                    .client-item__title Пожизненная гарантия на имплант
                    .client-item__text Всю работу по установке импланта мы сделаем максимально качественно, так как несём реальную финансовую ответственность за результат
                li.client-item
                    img(src="assets/images/icons/command.svg").client-item__img
                    .client-item__title Опыт врачей от 8 лет
                    .client-item__text В штате клиники опытные хирурги, ортопеды, имплантологи. Более 50 000 проведённых операций