.footer
    .container
        .footer-item Стоматологический центр «Новый Мир» <br> © 2017 Все права защищены
        a(href="#").footer-item-link Политика конфиденциальности <br> и пользовательское соглашение
        .footer-item
            span Сайт сделан в &nbsp;
            a(href="#").footer-item-link RA-Studio


