.form
    .container
        .form-left
            .form-left__title Не откладывайте здоровье Ваших зубов на завтра. <span>Свяжитесь с нами прямо сейчас!</span>
            .form-left__text +7 (812) 550-00-22 · 5500022@mail.ru
        .form-right
            .form-right-anim
                .slider-left-item-inn-img
                    .pulse
                    .slider-left-item-inn-img-block
                        img(src="assets/images/icons/anim2.svg")
            .form-right__title Остались вопросы по лечению зубов?
            .form-right__title1 Задайте их нам и получите бесплатную консультацию специалиста!
            form.form-right-form
                input(type="text", placeholder="Ваш номер телефона").form-right-form__input.form-phone
                textarea(placeholder="Чем мы можем Вам помочь?").form-right-form__textarea
                input(type="submit").form-right-form__submit

