.garant
    .container
        .garant-left
            .garant-left__title Бережная имплантация <br> <span>с пожизненной гарантией</span> <br>от производителя
            ul.garant-left-list
                li.garant-left-item
                    img(src="assets/images/garant.png",alt="").garant-left-item__img
                    .garant-left-item__title Классическая имплантация зубов в два этапа
                    .garant-left-item__text Имплант полность обрастает костной тканью за 3-6 месяцев. Затем устанавливается коронка, идеально подходящая по цвет Ваших зубов
                li.garant-left-item
                    img(src="assets/images/garant.png",alt="").garant-left-item__img
                    .garant-left-item__title Одномоментная имплантация сразу после удаления зуба
                    .garant-left-item__text За одно посещение пациент удаляет зуб и в этот же момент ему устанавливается титановый имплант, заменяющий корень. Примерно через 10 денй можно установить коронку.
                li.garant-left-item.garant-left-item--last-item
                    img(src="assets/images/garant.png",alt="").garant-left-item__img
                    .garant-left-item-desc
                        .garant-left-item__title Базальная имплантация в один этап с установкой временных коронок
                        .garant-left-item__text Более глубокая постановка имплантов, за счёт этого костную ткань не нужно наращивать. Жевательная функция зубов полностью восстанавливается в течение 7-10 дней
        .garant-right
            .garant-right__title Сравните 4 модели имплантов
            ul.garant-right-list
                li.garant-right-item
                    img(src="assets/images/icons/logo0.png",alt="").garant-right-item__img
                    .garant-right-item__text Швейцария · от 32 900 руб.
                li.garant-right-item
                    img(src="assets/images/icons/logo1.png",alt="").garant-right-item__img
                    .garant-right-item__text Республика Корея · от 18 000 руб.
                li.garant-right-item
                    img(src="assets/images/icons/logo2.png",alt="").garant-right-item__img
                    .garant-right-item__text США · от 32 700 руб.
                li.garant-right-item
                    img(src="assets/images/icons/logo3.png",alt="").garant-right-item__img
                    .garant-right-item__text Швеция · от 39 600 руб.