header.header
    .container
        .header-left
            a.header-left-logo
                img(src="assets/images/logo.png", alt="").header-left-logo__img
            .header-left-item
                img(src="assets/images/zub.svg", alt="").header-left-item__img
                .header-left-item__text Болят зубы? <br> Звоните сейчас!
        .header-right
            .header-left-item.header-left-item--mob
                img(src="assets/images/zub.svg", alt="").header-left-item__img
                .header-left-item__text Болят зубы? <br> Звоните сейчас!
            .header-right-but
                a(href="tel:+78125500022").header-right-but__phone +7 (812) 550-00-22
                a(data-fancybox data-src="#popup-main" href="javascript:;").header-right-but__cons Бесплатная консультация
            .header-right-time
                .header-right-time-block Понедельник–суббота с 09:00 до 21:00 <br> Воскресенье с 10:00 до 20:00



