.links
    .container
        .links__title Узнайте акции на другие услуги
        .links-right
            a(href="#").links-right-item
                img(src="assets/images/icons/coron.svg", alt="").links-right-item__img
                .links-right-item__text Коронки
            a(href="#").links-right-item
                img(src="assets/images/icons/prot.svg", alt="").links-right-item__img
                .links-right-item__text Протезы
            a(href="#").links-right-item
                img(src="assets/images/icons/lech.svg", alt="").links-right-item__img
                .links-right-item__text Лечение зубов
            a(href="#").links-right-item
                img(src="assets/images/icons/brack.svg", alt="").links-right-item__img
                .links-right-item__text Брекеты