.list
    .container
        .list__title Профессиональный подход к лечению Ваших зубов
        ul.list-main
            li.list-item
                img(src="assets/images/icons/microscope.svg").list-item__img
                .list-item__title Работаем напрямую с производителем
                .list-item__text Мы участвуем в официальных программах производителей имплантов и пользуемся фирменной гарантией
            li.list-item
                img(src="assets/images/icons/mainlist3.svg").list-item__img
                .list-item__title Собственная зуботехническая лаборатория
                .list-item__text Работа зубного техника обеспечивает максимальную точность установки зубного импланта
            li.client-item
                img(src="assets/images/icons/mainlist2.svg").list-item__img
                .list-item__title Пожизненная гарантия на имплант
                .list-item__text Всю работу по установке импланта мы сделаем максимально качественно, так как несём реальную финансовую ответственность за результат
            li.client-item
                img(src="assets/images/icons/command.svg").list-item__img
                .list-item__title Опыт врачей от 8 лет
                .list-item__text В штате клиники опытные хирурги, ортопеды, имплантологи. Более 50 000 проведённых операций
