.main
    .container
        .main-left
            h1.main-left__title Зубные импланты с высокой приживаемостью 99%
            .main-left__title1 за 32 900 руб в клинике комфорт класса
            a(href="#").main-left-but
                img(src="assets/images/zub-white.svg").main-left-but__img
                span.main-left-but__text Подробнее об имплантах
        .main-right
            .main-right-anim
                .slider-left-item-inn-img
                    .pulse
                    .slider-left-item-inn-img-block
                        img(src="assets/images/icons/anim2.svg")
            .main-right__title Запишитесь на бесплатный осмотр стоматолога
            ul.main-right-list
                li.main-right__item Осмотр состояния полости рта
                li.main-right__item Составления подробного плана и сметы лечения
                li.main-right__item Консультация узких специалистов, при необходимости — терапевта, ортопеда, хирурга, ортодонта, пародонтолога
            form.main-right-form
                input(type="text", placeholder="Ваш номер телефона").main-right-form__input.form-phone
                input(type="submit", value="Записаться").main-right-form__submit
