- var mainList = ['Приём день в день', 'Одна цена на сайте и в чеке', '15 лет гарантии на все изделия', 'Собственная зуботехническая лаборатория', 'Скидка 19% всем клиентам при заключении договора в день обращения', 'Рассрочка платежа. Сначала здоровые зубы — потом оплата', 'Лечение без боли за счёт картриджной анестезии', 'Собственная зуботехническая лаборатория']
.main-list
    .container
        ul.main-list-list
            each item,index in mainList
                li.main-list-item
                    img(src=`assets/images/icons/mainlist${index}.svg`).main-list-item__img
                    .main-list-item__text=item
