.popup#popup-main(style="display:none;")
    .popup-img
        .slider-left-item-inn-img
            .pulse
            .slider-left-item-inn-img-block
                img(src="assets/images/icons/anim3.svg")
    .popup__title Запишитесь на бесплатный осмотр стоматолога
    form.popup-form
        input(type="text", placeholder="Как к Вам обращаться?").popup-form__input
        input(type="text", placeholder="Ваш номер телефона").popup-form__input.form-phone
        input(type="text", value="Рассчитать стоимость").popup-form__submit