.reviews
    .container
        .reviews__title Примеры работ и отзывы
        .reviews-main.clearfix
            .reviews-main-left
                .reviews-main-left-item
                    span.reviews-main-left-item__text до
                .reviews-main-left-item
                    span.reviews-main-left-item__text после
            .reviews-main-right
                .reviews-main-right__text «Философу цицерону, ведь именно из его применили в книгопечатании еще в различных. Языке, который планируется использовать при оценке качества восприятия макета использованием.»
                .reviews-main-right__name — Василий Иванович, 53 года
        .reviews-fot
            a(href="#").reviews-fot-link
                img(src="assets/images/icons/chat.svg").reviews-fot-link__img
                span.reviews-fot-link__text Следующий отзыв