extends ../template

block variables
  - var title = 'Добро пожаловать'

block content
  include ../common/header
  include ../common/main
  include ../common/main-list
  include ../common/garant
  include ../common/client
  include ../common/slider
  include ../common/reviews
  include ../common/links
  include ../common/map
  include ../common/team
  include ../common/zub
  include ../common/list
  include ../common/form