 @font-face {
    font-family: 'PT_Sans-Regular';
    src: url('../fonts/PT_Sans-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/PT_Sans-Regular.woff') format('woff'),
    url('../fonts/PT_Sans-Regular.ttf')  format('truetype'),
    url('../fonts/PT_Sans-Regular.svg#FiraSans-Light') format('svg');
    font-weight: normal;
    font-style: normal;
 }
 @font-face {
   font-family: 'PT_Sans-Bold';
   src: url('../fonts/PT_Sans-Bold.eot?#iefix') format('embedded-opentype'),
   url('../fonts/PT_Sans-Bold.woff') format('woff'),
   url('../fonts/PT_Sans-Bold.ttf')  format('truetype'),
   url('../fonts/PT_Sans-Bold.svg#FiraSans-Light') format('svg');
   font-weight: normal;
   font-style: normal;
 }
 @font-face {
   font-family: 'PT_Sans-Italic';
   src: url('../fonts/PT_Sans-Italic.eot?#iefix') format('embedded-opentype'),
   url('../fonts/PT_Sans-Italic.woff') format('woff'),
   url('../fonts/PT_Sans-Italic.ttf')  format('truetype'),
   url('../fonts/PT_Sans-Italic.svg#FiraSans-Light') format('svg');
   font-weight: normal;
   font-style: normal;
 }